<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ukagaka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Ukagaka.Properties.Settings>
            <setting name="BootingConverterInverseType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BootingConverterThumbnail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BootingConverterZeropointBalloon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailcheckServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MailcheckUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MailcheckPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MailcheckCheckEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailcheckCheckAutocheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailcheckAutocheckInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SstpSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SstpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayLevelselect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayFontname" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayFontsize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplaySliderTransparency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayBalloonWaitRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayBalloonFadeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayBalloonClickthrough" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayGhostmanagerPreviewFilepath" serializeAs="String">
                <value />
            </setting>
            <setting name="MiscAlwaysShowVanish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscDeleteAfterOnlineInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscLoadWholeSurfacesOnBootingSurfaceServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscDisableSerikoAnimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscShowDevInterfaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscLightmodeOnSstp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiscResetSurfaceOnSstp" serializeAs="String">
                <value>False</value>
            </setting>
        </Ukagaka.Properties.Settings>
    </userSettings>
</configuration>